<div class="page-header">
    <h1 align="center">ผลการแข่งขัน </h1>
  </div>
  <table class="table table-hover" border="2">
      <thead>
        <tr>
        <th>นัดที่</th>
        <th>HomeTeam</th>
        <th>MatchResult</th>
        <th>AwayTeam</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat=" items in total2">
          <th align="center">{{$index+1}}</th>
          <th align="center">{{items.home_team}}</th>
          <th align="center">{{items.match_result}}</th>
          <th align="center">{{items.away_team}}</th> 
        </tr>
      </tbody>
    </table>
  